cleanup = true

executor{
    name = 'slurm'
    queueSize = 300
}

singularity{
    enabled = true
    autoMounts = true
    runOptions = '--home $HOME:/home/$USER --bind /pasteur
    cacheDir = 'singularity'
}

process{
    withLabel: 'ncbi'{
        container="ncbi/edirect"
        executor:'local'
    }

    withLabel: 'busco'{
        container="ezlabgva/busco:v5.4.2_cv1"
    }
}