cleanup = false
workDir = '/pasteur/appa/scratch/jfumey/busco/work'
executor {
    name = 'slurm'
    queueSize = 2000
}

report {
    enabled = true
    file = 'reports/report.html'
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
}

dag{
    enabled = true
    file = 'reports/dag.dot'
}

singularity {
        enabled = true
        autoMounts = true
        runOptions = '--home $HOME:/home/$USER --bind /pasteur'
    cacheDir = '/pasteur/appa/scratch/jfumey/singularity'
}

process {
    withLabel: ncbi{
        container="ncbi/edirect"
        executor='local'
    }

    withLabel: busco{
        container="ezlabgva/busco:v5.4.2_cv1"
        cpus=60
        memory='30G'
    }

    withLabel: selectGenome{
        container="evolbioinfo/python-evol:v3.8.2b"
        cpus=1
        memory='1G'
    }

    withLabl: dl{
        executor='local'
    }

    withLabel: samtools{
        container='evolbioinfo/samtools:v1.11'
        cpus=1
        memory='10G'
    }
}